GOOGLE_API_KEY=
OPENAI_API_KEY=

CHROMA_PERSIST_DB=./data/vectorstore/chroma-db
EMBEDDING_MODEL=models/text-embedding-004

TELEGRAM_BOT_TOKEN=

LANGFUSE_SECRET_KEY= 
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL= https://cloud.langfuse.com

API_URL=http://127.0.0.1:8001/api/gesture/